body {
  font-family: "Poppins-Medium";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  padding: 0%;
  margin: 0%;
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  display: none;
}
@font-face {
  font-family: "Poppins-Bold";
  src: local("Poppins-Bold"), url(./fonts/Poppins-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins-Semibold";
  src: local("Poppins-SemiBold"),
    url(./fonts/Poppins-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins-Medium";
  src: local("Poppins-Medium"),
    url(./fonts/Poppins-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Poppins-Regular";
  src: local("Poppins-Regular"),
    url(./fonts/Poppins-Regular.ttf) format("truetype");
}
